body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    /* height: 100vh; */
    background-color: #02233b; /* Dark Blue */
    color: #FFFFFF; /* White */
    text-align: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 100px;
    box-sizing: border-box;
}

.header-wrapper {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #FFFFFF; /* White */
    padding-bottom: 10px;
    margin-bottom: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    background-color: #02233b; /* Dark Blue */
}

.logo-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
    margin-right: 20px;
}

.logo {
    width: 75px;
    height: 75px;
    margin-right: 10px;
}

.title-wrapper {
    text-align: center;
    flex-grow: 1;
}

.title {
    font-size: 2.5em;
    font-weight: normal;
    margin: 0;
    color: #FFFFFF; /* White */
}

.subtitle {
    font-size: 1.25em;
    color: #FFFFFF; /* White */
    margin: 0;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding-top: 20px; /* Adjusted padding top */
}

.card { 
    background-color: #02233b;
    color: white;
    margin: 10px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 20em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    border: 2px solid white;

}

.card-header {
    background-color: #02233b; /* Dark Blue */
    padding: 10px;
    border-bottom: 1px solid #FFFFFF; /* White */
}

.card-title {
    font-size: 1.5em;
    margin: 0;
    color: #FFFFFF; /* White */
}

.card-body {
    padding: 20px;
}

.card-body img {
    width: 100%;
    height: auto;
    max-height: 250px;
    margin-bottom: 10px;
}

.card-body p {
    font-size: 1em;
    margin: 0 0 20px;
    color: #FFFFFF; /* White */
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
    color: #FFFFFF; /* White */
    background-color: #02233b; /* Dark Blue */
    border: 2px solid #FFFFFF; /* White */
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:hover {
    background-color: #FFFFFF; /* White */
    color: #02233b; /* Dark Blue */
}

@media (max-width: 768px) {

    .navbar h1 {
        font-size: 20px; /* Adjust font size for smaller screens */
    }
}
