body{
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #efd29f;
}

button{
  background-color: #3d7bb6;
  height: 30px;
  font-size: 1.5rem;
  margin: 5px;
}

#buttons{
  margin: 15px;
  display: flex;
  flex-direction: column;
}

input{
  height: 30px;
  width: 450px;
}

.image-row {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    background-color: #532819;
    padding: 10px;
    justify-content: center;
    width: 100%;
}

.image-row img {
    height: 100px;
    margin-right: 10px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 200px);
    grid-template-rows: repeat(3, 150px);
    gap: 10px;
}

.grid-cell {
    width: 200px;
    height: 150px;
    border: 2px dashed  #532819;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.grid-cell img {
    position: absolute;
}

.grid-cell.over {
    border-color: #fff;
}

canvas {
    padding: 0;
  }

  .large {
    position: relative;
    width: 600px;
    aspect-ratio: 1/1;
  }
  
  #box {
    position: absolute;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    aspect-ratio: 1/1;
  }
  
  .column {
    width: 10.05%;
    height: 92.5%;
    margin-right: -2.1%;
    background-color: transparent;
  }
  
  .cdown-2 {
    position: relative;
    bottom: -5%;
  }
  
  .finisher{
    font-size: 30px;
    font-weight: bold;
  }
  
  .cell {
    border: 0.5px solid;
    width: 100%;
    aspect-ratio: 14/13;
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: polygon(0% 50%, 25% 100%, 75% 100%, 100% 50%, 75% 0%, 25% 0%); /* Rotated hexagon */
    flex-wrap: wrap;
  }
  
  .cell div{
    border: 1px solid black;
  }