body{
	font-family: Arial, Helvetica,sans-serif;
	font-weight: 300;
	font-size: 15px;
	line-height: 1.7;
	color: #c4c3ca;
	/* background-color: #02233b; */
    background-image: url("../images/little.avif");
    background-position: center;
    background-size: cover;
    /* background-repeat: no-repeat; */
	overflow-x: hidden;
}
a {
	cursor: pointer;
  transition: all 200ms linear;
}
a:hover {
	text-decoration: none;
}
.link {
  color: #c4c3ca;
}
.link:hover {
  color: #56ABEC;
}
p {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.7;
}
h1{
    color: white;
    font-size: 3em;
    text-shadow: 4px 2px 4px #025b9f;
}
h4 {
  font-weight: 600;
}
h1 span{
  padding: 0 20px;
  text-transform: uppercase;
  font-weight: 700;
}
.section{
  position: relative;
  width: 100%;
  display: block;
}
.full-height{
  min-height: 97vh;
}

.card-3d-wrap {
  position: relative;
  width: 400px;
  max-width: 100%;
  height: 250px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  perspective: 800px;
  margin-top: 60px;
}
.card-3d-wrapper {
  width: 100%;
  height: 100%;
  position:absolute;    
  top: 0;
  left: 0;  
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transition: all 600ms ease-out; 
}
.card-front{
  width: 100%;
  height: 100%;
  background-color: #48626b8e;
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat.svg');
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: 300%;
  position: absolute;
  border-radius: 6px;
  left: 0;
  top: 0;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}
.checkbox:checked ~ .card-3d-wrap .card-3d-wrapper {
  transform: rotateY(180deg);
}
.center-wrap{
  position: absolute;
  width: 100%;
  padding: 0 35px;
  top: 50%;
  left: 0;
  transform: translate3d(0, -50%, 35px) perspective(100px);
  z-index: 20;
  display: block;
}

.btn{  
  border-radius: 4px;
  height: 44px;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  -webkit-transition : all 200ms linear;
  transition: all 200ms linear;
  padding: 0 20px;
  letter-spacing: 1px;
  text-align: center;
  border: none;
  background-color: #56ABEC;
  color: white;
  box-shadow: 0 8px 24px 0 rgba(255,235,167,.2);
}
.btn:active,
.btn:focus{  
  background-color: #56ABEC;
  color: white;
  box-shadow: 0 8px 24px 0 rgba(16,39,112,.2);
}
.btn:hover{  
  background-color: #025b9f;
  color: white;
  box-shadow: 0 8px 24px 0 rgba(16,39,112,.2);
}
.title{
    margin: 0px;
}
.description{
    font-size: 0.7em;
}



.logo {
	position: absolute;
	top: 20px;
	left: 15px;
	display: block;
	z-index: 100;
	transition: all 250ms linear;
}
.logo img {
	height: 75px;
	width: auto;
	display: block;
}
