body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color:  #b9bdc2; 
    
}
#heads{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
#players{
    display: flex;
    flex-direction: column;
    border: 5px solid;
    border-radius: 10px;
    width:500px;
    height: 300px;
}

